/* Clear defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
html, body {
	height: 100%;
}

/* CSS Variables */
:root {
	--main-black: rgb(20, 20, 20);
	--accent-black: rgb(40,40,40);
	--main-green: rgb(49, 219, 100);
	--darker-green: rgb(49, 173, 86);
	--accent-green: rgb(195, 250, 193);
	--main-white: rgb(245, 245, 245);
	--accent-white: rgb(230, 230, 230);
	--font-serif: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--shadow: 0px 5px 5px rgba(20, 20, 20, 0.3);
	
}

/* Custom tags */
v-box, h-box {
	display: flex;
}

v-box {
	flex-direction: column;
	align-items: center;
}

h-box {
	flex-direction: row;
}

/* Primary element styles */
body {
	font-family: var(--font-serif);
	color: var(--main-black);
	background:   
	linear-gradient(217deg, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%),
	linear-gradient(127deg, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%),
	linear-gradient(336deg, rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%);
}
h1, h2 {
	font-weight: lighter;
}
h1 {
	font-size: 2.2em;
	padding: 0.6em;
}
h2 {
	padding: 0.5em;
}
a {
	text-decoration: none;
	color: var(--darker-green);
}

/* Semantic styles */
header {
	box-sizing:border-box;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 0.5em 1em;
	margin-bottom: 0.4em;
	width: 100%;

	font-family: var(--font-serif);
	font-size: 1.5em;
	color: var(--main-black);
	background-color: var(--main-green);
	box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.6);
}
img {
	width:  4em;
	height: 4em;
	border-radius: 50%;
	margin-top: 1em;
}
header h3 {
	font-weight: normal;
}
header p {
	font-weight: lighter;
	margin-left: 0.3em;
}
main {
	height: 80%;
}

footer {
	display: flex;
	justify-content: center;

	padding: 0.5em;
	width: 100%;

	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1;

	font-size: 10pt;
	color: var(--main-white);
	background-color: var(--accent-black);
}
footer * {
	margin: 0.3em;
}
footer a {
	color: var(--main-green);
}

/*
` ---------------------------------------------------------
` LOGIN/INPUT STUFF 
` ---------------------------------------------------------
`*/
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
.loginForm {
	/* Fade-in animation */
	animation: fadein 1s;
	/* End fade-in */

	padding: 1em;
	margin: 1em;

	border-radius: 5px;
	background-color: var(--main-white);

	box-shadow: var(--shadow);
	width: 20em;
}

.loginForm p {
	font-size: 10pt;
}

.inputs {
	width: 50%;
	margin-bottom: 2em;
}
.inputs h-box {
	width: 100%;
	padding-bottom: 1.5em;
	justify-content: flex-end;
	font-size: 10pt;
}

input, button, .button {
	width: 100%;
	margin: 0.5em;
	color: var(--main-black);
	
	border-style: none;
	font-family: var(--font-serif);
}

input {
	box-sizing: border-box;
	
	background-color: transparent;
	height: 3em;
	padding: 0 0.5em;
	
	border-bottom: 1px solid var(--main-green);
	transition: border-width 0.15s, background-color 0.3s;
}
input:hover {
	background-color: var(--accent-white);
}
input:focus {
	border-bottom-width: 4px;
}

button, .button {
	cursor: pointer;
	display: flex;
	padding: 1em;
	border-radius: 25px;
	background-color: var(--main-green);
	justify-content: center;
	align-items: center;
}

/*
` ---------------------------------------------------------
` CONTENT STUFF
` ---------------------------------------------------------
*/
#mainContent {
	display: grid;
	grid-template-columns: 15em 1fr;	
	grid-template-rows: 100%;
	height: 100%;
}

aside {
	height: 100%;
	flex-direction: column;
	background-color: var(--main-white);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;

	box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.6);
}
aside h1 {
	padding: 0.5em 0.5em 0 12pt;
}
aside h2 {
	padding: 0 0.5em 0.5em 12pt;
}
aside button {
	background-color: var(--accent-white);
	margin: 0;
	border-radius: 0;
	width: 100%;
	justify-content: left;
}
.activeTab {
	background-color: var(--accent-green);
}

data-table {
	display: flex;
	flex-direction: column;
	width: 98%;
	margin: 1em auto;
	border-radius: 10px;

	background-color: var(--accent-green);
	box-shadow: var(--shadow);
}

data-header, data-row {
	display: flex;
}
data-header *, data-row * {
	padding: 5pt;
	margin: 5pt;
	flex: 0 0 33%;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

data-header {
	background-color: var(--darker-green);
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
data-box data-row:nth-child(even) {
	background-color: var(--main-green);
}
data-box data-row:last-child {
	background-color: var(--darker-green);	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: lighter;
}

article {
	overflow-y: scroll;
	background-color: rgba(245, 245, 245, 0.7);
	margin-left: 1em;
	padding: 1em;

	border-radius: 10px;
}
.hidden {
	display: none;
}
